*{
    color: #05386B;
    /* rgb(5,56,107) */
    color: #379683;
    /* rgb(55,150,131) */
    color: #5CDB95;
    /* rgb(92,219,149) */
    color: #8EE4AF;
    /* rgb(142,228,175) */
    color: #EDF5E1;
    /* rgb(237,245,225) */
}